*{
    padding: 0;
    margin:0;
}
.game_container{
    height: 100vh;
    background: rgb(20, 189, 172);
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    border: 5px solid rgba(17, 17, 17,0.235);
    border-top:none;
    border-left: none;
    border-right: none;

}
.content{
    width: 20px;
    height: 40px;
    padding:15px 30px;
    font-size: 25px;
    border: 5px solid rgba(17, 17, 17, 0.235);
    border-top: none;
    border-bottom: none;
    border-left: none;
    cursor: pointer;
    
}
.cplus{
    border:none;
}
.fa-times{
    color:#545454;
}
.fa-opera{
    color:white;
}